# Notebook 1

## Introduction

# List of Data Science Languages
- Python  
- SQL
- R  
- Julia  
- Scala

## List of Data Science Libraries
- NumPy  
- Pandas  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- Keras

## Table of Data Science Tools

| Tool           | Purpose               |
|----------------|-----------------------|
| TensorFlow     | Deep learning         |
| Apache Spark   | Big data processing   |
| Jupyter        | Interactive notebooks |
| RStudio        | R programming         |
| VS Code        | Code editor           |

## Examples of Arithmetic Expressions

In [ ]:
# Multiplication and addition examples

result1 = 6 * 4
print(result1)

result2 = 4 + 6
print(result2)

result3 = (6 * 4) + 6
print(result3)

24
10
30

In [ ]:
# minutes to hours converter
minutes = 60
hours = minutes / 60
hours

1.0

## Objectives
- Learn the basics of markdown and code cells in the notebook  
- Lean data science languages  
- Learn data science libraries  
- Create a table of Data Science tools  
- Perform arithmetic using Python  
- Practice sharing notebooks

##**Author:** Sarim Nadeem